body {
    margin: 0px;
}
h1 {
    text-align: center;
    font-family: arial;
    font-size: 40px;
    text-shadow: 2px 2px 5px black;
}
h2 {
    text-align: center;
    font-family: arial;
    font-size: 20px;
    text-shadow: 2px 2px 5px black;
}
.contenedor {
    width: 400px;
    margin: 0 auto 25px;
    box-sizing: border-box;
    border: 3px solid black;
    border-radius: 20px;
    padding: 25px;
    background: linear-gradient(to bottom, gray, aqua);
    box-shadow: 0 10px 10px black;
}
.imagen {
    width: 100%;
    border-radius: 10px;
}
hr {
    width: 80%;
}
p, li {
    font-family: arial;
    font-size: 16px;
}
p {
    padding-left: 10px;
    padding-right: 10px;
}
.titulo {
    font-weight: bold;
}
.justificado {
    text-align: justify;
}
a {
    color: blue;
    text-decoration: none;
}
a:hover {
    color: blueviolet;
    text-decoration: underline;
}
.centrado {
    text-align: center;
}
form {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    width: 80%;
    background-color: #EEEEEE;
    border: 3px solid black;
    border-radius: 10px;
    box-shadow: 10px 10px 10px black;
    padding-bottom: 10px;
}
.pdp {
    text-align: center;
    background-color: black;
    height: 115px;
    border-top: 5px solid yellow;
    margin-top: 30px;
}
.pdp p {
    color: gray;
    font-weight: bold;
    font-style: oblique;
}
#margenes {
    margin: 30px 0px;
}