<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Ejemplos de Rutas: /nosotros /galeria /servicios</h1>
    <h1>Ejemplos de Controladores:</h1>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/novedades">Novedades</a></li>
      <li><a href="/contacto">Contacto</a></li>
    </ul>
    {{{body}}}
  </body>
</html>
