.banner {
    display: flex;
}
.animacion {
    width: 100%;
    animation-name: animacion;
    animation-duration: 3s;
}
@keyframes animacion {
    from {
        transform: scale(0);
    }
    to {
        transform: scale(1);
    }
}
.titulo {
    background-color: black;
    display: flex;
    justify-content: center;
}
h1 {
    font-family: 'Noto Serif HK', serif;
    font-style: italic;
    font-size: 50px;
    text-shadow: 3px 3px 2px gray;
    margin: 0 0 5px;
    position: relative;
    top: -40px;
    color: aqua;
}
